<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (submit)="sendForm(f)">

    <div class="ion-padding">
      <ion-label position="stacked" color="primary">
        <ion-icon name="search-circle-outline"></ion-icon>
        Envia nós o seu feedback: 
      </ion-label>
      <ion-textarea name="messageField" rows="4" [(ngModel)]="messageField"></ion-textarea>
    </div>

    <div class="ion-padding">
      <ion-label position="stacked" color="primary">
        <ion-icon name="search-circle-outline"></ion-icon>
        Informe seu contato: 
      </ion-label>
      <ion-input name="contactField" type="text" [(ngModel)]="contactField"></ion-input>
    </div>

    <div class="ion-padding">
      <ion-button type="submit" expand="block" name="buttonLogin">Enviar</ion-button>
    </div>

  </form>
</ion-content>
